/*
    This file contains the styles for a responsive webform for natural burial 
    initiative created for people with accessibility needs.

    Author(s): Mohammed Zaid Khan, Nabila Saimon Bithi, Sparsh Mehra, Tooba Javed
*/




/* Styles for the form container till the burial information section.
These styles are used in conjunction with tailwind for styling the individual 
elements of the form */
.container {
    max-width: 700px;
    width: 100%;
    padding: 100% 30px 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-top: 2350px;
}

/*Styles for the burial information container*/
.newContainer {
    max-width: 2000px;
    border-radius: 5px;
    display: fixed;
}

/*Aligining the length of all the input fields*/
.user-details .input-box span.details {
    flex: 2;
}

/*Adding space between each question and input field*/
.user-details .input-box {
    width: 100%; 
    margin: 15px auto;
    position: relative;
    display: flex;
    align-items: center;
}

.user-details .input-box input,
.user-details .input-box select {
    flex: 2;
    width: 100%;
    /* Adjusted width */
    height: 49.5px;
    /* Adjusted height */
    margin-right: auto;
    /* Center the input fields */
    margin-left: auto;
    /* Center the input fields */
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 1.05em;
    /* Adjusted font size */
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

/*Styles for the buttons for voice*/
.user-details .input-box button {
   /*adjusting the height and radius*/
    height: 50px;
    width: 50px;
    border: none;
    background-color: #1ab1bf;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

/* Custom CSS to apply Tailwind Cyan 500 color */
.custom-bg-cyan-500 {
    background-color: #06b6d4;
    /* Tailwind Cyan 500 color */
}


/*Styles for the dark theme*/

/* Dark mode style */
.dark-mode {
    background-color: #222222;
    color: #ffffff;
}

/* Styling for input field in dark mode */
.dark-mode input[type="text"],
.dark-mode input[type="date"],
.dark-mode input[type="email"],
.dark-mode input[type="password"],
.dark-mode input[type="number"],
.dark-mode textarea {
    color: #ffffff;
    /* Text color */
    background-color: #333333;
    /* Input background color */
    border: 1px solid #ffffff;
    /* Border color */
}

/* Darken button background color on hover */
.dark-mode input[type="submit"]:hover {
    background-color: #1c1c1c;
}

#darkModeToggle {
    background-color: #1ab1bf;
    /* Text color */
    color: #fff;
    /* Padding */
    padding: 10px 20px;
    border: none;
    /* Rounded corners */
    border-radius: 5px;
    /* Cursor style */
    cursor: pointer;
    /* Font size */
    font-size: 16px;
}

#darkModeToggle:hover {
    /* Darker background color on hover */
    background-color: #0d7e89;
}

/* for radio buttons @author Mohammad Zaid Khan*/
.radio-group {
    display: inline-block;
    width: 300px;
    /* Adjust the width to your preference */
    margin-right: 20px;
}

/**** Radio Button Styles (radio buttons were not appearing correcly using only CSS ****/
.radio-group input[type="radio"] {
    content: '';
    top: 50%;
    width: 24px;
    height: 24px;
}

.radio-group label {
    /*Aligining the labels of the radio buttons*/
    margin: 0 4px;
    cursor: pointer;
    position: relative;
    white-space: nowrap; /* Prevent label from wrapping */
}

